<span>
  {{view 'select'
    content=operations
    value=selectedOperation
    optionValuePath="content.value"
    optionLabelPath="content.label"}}

  {{#if isDrawOp}}
    a {{view "select" content=marks value=selectedMark}}.
  {{else if isModifyOp}}
    the {{view "select" content=properties value=selectedProperty}} to {{input value=selectedPropertyValue}}.
  {{else if isLoopOp}}
    from {{input value=loopStart}} to {{input value=loopEnd}}.
  {{/if}}
</span>
