<span>
  {{view 'select'
    content=operations
    value=selectedOperation
    optionValuePath="content.value"
    optionLabelPath="content.label"}}

  {{#if isDrawOp}}
    a {{view "select" content=marks value=selectedMark}}.
  {{else if isModifyOp}}
    {{instruction-set-property
      instruction=instruction
      selectedPropertyValue=instruction.propertyValue
      dataItems=dataItems
    }}
  {{else if isLoopOp}}
    {{instruction-loop
      instruction=instruction
      selectedLoopData=instruction.loopData
      dataItems=dataItems
      loopVariable=instruction.loopVariable
    }}
  {{/if}}
</span>
