{{#bs-panel title="Data"}}
  <h2>Scalars</h2>
    <ul>
      {{#each scalars as |scalar|}}
        {{#victor-data-panel-scalar-item scalar=scalar}}
          {{variable-definition variable=scalar}}
        {{/victor-data-panel-scalar-item}}
      {{/each}}
      {{! item for every scalarList }}
      <li class="add-instruction-item list-group-item" {{action 'addScalar'}}>Add</li>
    </ul>

  <h2>Table</h2>
  <table class="table table-hover table-condensed">
    <tr>
      {{#each tableHeaders as |header|}}
        <th>{{header}}</th>
      {{/each}}
    </tr>
    {{#each rows as |row|}}
      <tr>
        {{#each row as |cell|}}
          {{#victor-data-panel-cell
            cell=cell
            row=row
            table=table
            as |isEditing|}}
            {{cell.value}}
          {{/victor-data-panel-cell}}
        {{/each}}
      </tr>
    {{/each}}
    <tr>
      <td {{bind-attr colspan=numberOfHeaders}} class="add-table-row" {{action 'addTableRow'}}>
        Add row
      </td>
    </tr>
  </table>
{{/bs-panel}}
