{{#dynamic-drawing-marks}}
  <div class="grid">
    <div class="description-panel col-1-4">
      {{victor-data-panel
        scalars=model.scalars
        table=model.table}}
      {{mark-list marks=model.marks}}
    </div>
    <div class="output-panel col-5-8">
      {{draw-panel
        table=model.table
        scalars=model.scalars
        d3Code=model.d3Code
        marks=model.marks
        controlPoints=controlPoints}}
      {{d3-code-panel code=model.d3Code}}
    </div>
    <div class="drawing-tools-panel col-1">
      {{drawing-tools-panel}}
    </div>
  </div>
{{/dynamic-drawing-marks}}
